{% extends 'base.html.twig' %}

{% block body %}
<h1> Bienvenue sur ce magnifique forum{% if app.user %}, {{ app.user.username }} {% endif %}! </h1>

<h2> Checklist </h2>

<ul>
<li>Inscription, connexion, déconnexion <i class="fa-solid fa-check" style="color:green"></i></li>
<li>Création de message dans les catégories du forum <i class="fa-solid fa-check" style="color:green"></i></li>
<li>Possibilité de répondre à un message <i class="fa-solid fa-xmark" style="color:red"></i></li></li>
<li>Une recherche simple <i class="fa-solid fa-check" style="color:green"></i></li></li>
<li>Liste des catégories, sous catégories, et messages associés <i class="fa-solid fa-xmark" style="color:red"></i></li></li>
<li>Administration : Création des catégories et sous-catégories, administration des messages <i class="fa-solid fa-check" style="color:green"></i></li> 
<li>Il y aura 2 niveaux d'accès : Administrateur,  membre (possibilité de créer un message ou de modifier ses messages) <i class="fa-solid fa-check" style="color:green"></i></li></li>
<li>Un message pourra intégrer des fichiers (images a minima) <i class="fa-solid fa-xmark" style="color:red"></i></li>
</ul>

{% endblock %}
