// Titres

h1{
  @include mixFont($fontSize:2.5rem);
}

body{
  div#content{
    min-height:90vh;
  }
}

div.divider{
  margin: 2rem 0 0 0;
  border-bottom: 1px solid $colClair;
  width: 20vw;
}

// Style mentions légales

section#mentions-legales{
  font-weight:300;
}

// Page des catégories

div.ensemble-sous_categories{
  display:flex;
  justify-content:flex-start;
  grid-gap:1rem;
  margin: auto 1rem;
  span{
    @include mixButton();
    padding:1rem;
  }
}

div.add-article{
  margin: 2rem 0 0 1rem;
  a.button{
    @include mixButton();
    padding:1rem;
    text-decoration:none;
    color: $colFonce;
  }
}

div.ensemble-articles{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1rem;
  margin: auto 1rem;
  admin{
    display:flex;
    grid-gap:1rem;
    justify-content:flex-end;
    span{
      &:hover{
        color:$colClair;
        cursor:pointer; 
      }
    }
  }
  div{
    padding:1rem;
    border: 3px solid $colClair ;
    box-shadow: 3px 3px 0px $colStrong;
    h3{
      @include mixFont($fontSize:1.5rem);
    }
    p{
      @include mixFont($fontSize:1rem, $textAlign:justify);
      max-height:2.5rem;
      overflow: hidden;
    }
    span.lirelasuite{
      @include mixFont($fontSize:1rem, $textAlign:right);
      display: block;
      border-top:1px solid $colClair;
      padding-top:.5rem;
      a{
        @include mixLinks();
      }
    }
  }
}