@media (max-width: 600px) {
  body{
    header{
      width: 50%;
      height: 100vh;

      span#nav-title{
        display: none;
      }

      a{
        svg{
          &#link-admin{
            right: 9px;
            left: auto;
          }
        }
      }

      svg {
        &#menu-opener{
          transition:1s;
          display: block;
          // attention extends link-admin DONC on redéfinie left pour séparer les éléments
          left: 9px;
          &.open{
            transition: 1s;
            transform: rotate(90deg);
          }
        }
      }

      nav{
        height: 100%;
        width: 0%;
        transition: .5s;
        overflow: hidden;
        // width: 100%;
        // = Propriété à définir en JS quand on clique sur le bouton pour dérouler le menu
        border-bottom: none;
        border-right: 5px solid $colClair;
        &.open{
          width: 100%;
        }
        ul{
          @include mixFlex($justifyContent:space-around, $alignItem:flex-start, $flexDirection:column);
          height: 50%;
          min-width: 200px;
          position: relative;
          top: 25%;
          //display: none; // A repasser en flex quand on déroule le menu
        }
      }
    }
    div#main{
      @include mixMarges($padding:0 50px 0 50px);
    }
  }
}