{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<p>Le site <a href="{{path('app_accueil')}}">localhost</a> est édité par Marvin Brosse, dont le siège social est situé à son adresse.</p>
<p>Le site est hébergé par <a href="localhost/">un serveur local</a>, dont le siège social est situé sur la machine de Marvin Brosse.</p>
<p>Le site est développé par <a href="https://marvinbrosse.fr">Marvin BROSSE</a>, dont le siège social est situé à son adresse.</p>
<p>Le site est conçu par <a href="https://marvinbrosse.fr">Marvin BROSSE</a>, dont le siège social est situé à son adresse.</p>
<p>Le site est réalisé avec le framework Symfony, dont la licence est disponible <a  target="blanck" href="https://symfony.com/doc/current/contributing/code/license.html">ici</a>.</p>
{% endblock %}
