{% extends 'base.html.twig' %}

{% block title %}Autorisation refusée{% endblock %}
{% block body %}
    <p class="page-erreur">Oups ! Le serveur a rencontré une erreur.</p>
    <p class="page-erreur">Contactez l'administrateur du site.</p>
{% endblock %}