{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}">Retour à la liste des articles</a>

    {{ include('article/_delete-article.html.twig') }}
{% endblock %}
